# PostgreSQL Database
POSTGRES_USER=docker
POSTGRES_PASSWORD=docker
POSTGRES_DB=clinical_forms

# Application Port
SERVER_PORT=8080

# JWT Configuration
# Gere um código usando openssl rand -base64 32
JWT_SECRET=seu_segredo_super_secreto_e_longo_gerado_aqui
JWT_EXPIRATION_MS=86400000 # 24 horas

# Third-Party Services
CLOUDINARY_URL=cloudinary://api_key:api_secret@cloud_name
BREVO_API_KEY=xkeysib-sua_chave_api_da_brevo_aqui

# Frontend URL (para CORS)
CLIENT_APP_URL=http://localhost:3000